
.usersFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2%;
}
.imgUsers {
    border-radius: 2%;
}

.nameUsers{
    text-transform: capitalize;
    margin: 1%;
}