
.usersFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 100%;*/
    margin: 1vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2%;
}

.nameUsers{
    text-transform: capitalize;
    margin: 1%; 
}
.images{
    border-radius: 30%;
}
.usersFirst:hover {
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}
.linkContainer {
    margin: 0 auto;
}


.profile {
    
    align-items: center;
    
}
/*
.imgProfile {
    max-width: 50%;
}
*/
.contText {
    margin: 2vh;
    text-align: justify;
}
.titleProfile{
    text-transform: capitalize;
    font-size: 1em;
}